<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scorelist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit Score</h1>
	<div>
		<form th:object="${score}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<label for="title">Title</label>
			<input type="text" id="finalscore" th:field="*{finalscore}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="text" id="palyer1name" th:field="*{player1name}" />
  	
			 <select id="category" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>