<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Score List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Player 1 Name</th>
			<th>Player 2 Name</th>
			<th>Round Scores</th>
			<th>Final Match Scores</th>
			<th>Winner</th>
			<th>Game Mode</th>
			<th colspan="2"></th>
		</tr>
		
		<tr th:each="score : ${score}">
			<td th:text="${score.player1name}"></td>
			<td th:text="${score.player2name}"></td>
			<td>
				<ul th:each="round : ${score.roundScores}">
					<li th:text="${round}"/>
				</ul>
			</td>
			<td th:text="${score.finalscore}"></td>
			<td th:text="${score.winner}"></td>
			<td th:text="${score.sportstype}"></td>
			<td><a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this score?')" th:href="@{/delete/{id}(id=${score.gameid})}">Delete</a></td>
			<td><a class="btn btn-primary"  th:href="@{/edit/{id}(id=${score.gameid})}">Edit</a></td>
		</tr>
	</table>

<!-- Obsolete Function for pop-up warning box when trying to delete a score -->	
<script>
/*function warningPopup() {
	var returnValue = confirm("Are you sure you want to delete this score?");
    if (returnValue)
        return true;
    else
      return false;
  }
*/
</script>
	 <a  href="/welcome" class="btn btn-success">New Game</a>
 
</body>
</html>