<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add score</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>




	<div>
	
		<!--  <form th:object="${score}" th:action="@{savePlayer}" action="#" method="post"> -->
			<form th:object="${score}" th:action="@{savePlayer}" action="#" method="post">
			<h2 id="h2">Give player names please:</h2>
			<label for="name">Player 1</label> <input type="text"
				id="player1name" th:field="*{player1name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="title">Player 2</label> <input type="text"
				id="player2name" th:field="*{player2name}" />
			<div style="display: block; height: 10px;"></div>

			<div id="players"></div>
			
		<!--	<img th:src="@{'/uploads/' + ${myyrsquash}}"/> -->
			
			
			
			<input type="submit" onClick="clickFunction()" value="Submit Names"></input>
		</form>
		
		<p>
		<a href="https://www.facebook.com/MyyrSquash/">
	<img src="../static/images/myyrsquash.jpg" alt="myyrsquash" class="center" th:src="@{images/myyrsquash.jpg}"/>
	
	</a>
	<p>
	<h1>Welcome to Squash Match Score Counter</h1>

	</div>

</body>
</html>